* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.g-font1 {
    font: oxygen 300px;
}
.parallax-computer-girl {
    background-image: url('/Img/girl_computer_red.jpg');
    height: 50%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}