* {
    margin: 0;
    padding: 0;
}
.g-font1 {
    font: oxygen 300px;
}
.jumbotron {
    height: 50vh;
}
.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.para-computergirl {
    background-image: url('/Img/girl_computer_red.jpg')
}
.para-codingScreen {
    background-image: url('/Img/coding_screen.jpg');
}
.para-openLaptop {
    background-image: url('/Img/half_open_laptop.jpg');
}
.para-laptopHeadphones {
    background-image: url('/Img/laptop_and_headphones.jpg');
}